# ESP-IDF build output
firmware/build/

# SDK config (optional: some people commit this)
firmware/sdkconfig
firmware/sdkconfig.old

# IDF component manager
firmware/dependencies.lock
firmware/managed_components/

# Neovim
.clangd
compile_commands.json

# OS
.DS_Store
T

# App
app/ESPresso/node_modules/
app/ESPresso/dist
app/ESPresso/src-tauri/target/

# Git
*.orighumbs.db
